extends ../layout

block content

    div(id='main')

    block scripts
        script(src="//cdnjs.cloudflare.com/ajax/libs/react/0.12.1/JSXTransformer.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/react/0.12.1/react.min.js")
        script(type="text/jsx", src="/js/todo/rt.js")
